.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1107px;
}

.u-section-1 .u-text-1 {
  margin: 80px 170px 0 676px;
}

.u-section-1 .u-text-2 {
  margin: 0 170px 0 877px;
}

.u-section-1 .u-social-icons-1 {
  white-space: nowrap;
  height: 37px;
  min-height: 16px;
  width: 85px;
  min-width: 42px;
  animation-duration: 1000ms;
  margin: 47px auto 60px 96px;
}

.u-section-1 .u-icon-1 {
  height: 100%;
}

.u-section-1 .u-icon-2 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 140px;
    margin-left: 576px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 140px;
    margin-left: 707px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 107px;
    margin-left: 426px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 107px;
    margin-left: 520px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 80px;
    margin-left: 246px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 80px;
    margin-left: 367px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-right: 50px;
    margin-left: 46px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 50px;
    margin-left: 197px;
  }
}